[Unit]
Description=Prometheus blackbox Exporter
After=network.target

[Service]
Type=simple
User={{ prometheus_exporters_common_user }}
Group={{ prometheus_exporters_common_group }}
ExecStart={{ prometheus_exporters_common_root_dir }}/blackbox_exporter --config.file "/opt/blackbox_exporter/blackbox.yml" 
SyslogIdentifier=prometheus_blackbox_exporter
Restart=always

[Install]
WantedBy=multi-user.target
